@import 'abstracts/setting.scss',
'abstracts/mixins.scss';

@import 'base/theme_default.scss';

@import 'base/pages/ProgramList.scss';


@import 'components/bar_slctr.scss';

body {
    width:100vw;
    height:100vh;
    padding:0px;
    overflow-x:hidden;
    margin: 0;
    box-sizing: border-box;
}