@import 'abstracts/setting.scss',
'abstracts/mixins.scss';

@import 'base/theme_default.scss';

@import 'base/pages/ProgramList.scss';


@import 'components/bar_slctr.scss',
'components/sub_nav.scss';

@import 'components/buttons/fab.scss';

body {
    width: 100vw;
    height: 100vh;
    padding: 0px;
    overflow-x: hidden;
    margin: 0;
    box-sizing: border-box;
}

.App-link {
    color: #00eb0c;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }